
/* Link Reference Styles */

/* Body Styles */
body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
    border-style: double;
    border-width: medium;
    border-color: #E4f0d0;
    box-shadow: #738290 25px 0px 35px,
                 #738290 -25px 0px 35px; }

/* Heading Style */                 
section > h1 {font-family: Verdana,Geneva,Arial,sans-serif;
            font-size: 2.3rem;
            color: #C2D8B9;
            text-align: center;
            font-style: oblique;}

/* Paragraph and Unordered List Styles */
section > p,ul {font-family:Verdana,Geneva,Arial,sans-serif;
                font-size: 1.2rem;
                color: #FFFCF7;
                padding-left: 10px;
                margin: 20px;}
                
@media screen and (max-width: 600px) {
	body { max-width:500px;
		     min-width:500px;}
}